@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.pearl-text {
  color: #e5dcc5 !important;
}
.pearl-bg {
  background-color: #e5dcc5 !important;
}

.shimmer-text {
  color: #c14953 !important;
  cursor: pointer;
}
.shimmer-text:hover {
  color: #848fa5 !important;
  text-shadow: 1px 1px #2d2d2a;
}
.shimmer-bg {
  background-color: #c14953 !important;
}
.cg-text {
  color: #4c4c47 !important;
}

.cg-bg {
  background-color: #848fa5 !important;
}
.dg-text {
  color: #4c4c47 !important;
}
.dg-bg {
  background-color: #4c4c47 !important;
}
.jet-text {
  color: #2d2d2a !important;
}
.jet-bg {
  background-color: #2d2d2a !important;
}
@media (min-width: 768px) {
  .sticky {
    position: sticky;
    top: 0;
  }
}
